services:
{% for key, value in services.items() %}
  {{ key }}:
    image: {{ value.container_image }}
{% if value.configuration is defined %}
    environment:
{% for key, value in value.configuration.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
{% if value.ports is defined %}
    ports:
{% for port in value.ports %}
      - "{{ port.expose_port }}:{{ port.app_listen_port }}"
{% endfor %}
{% endif %}
{% if value.volumes is defined %}
    volumes:
{% for key, value in value.volumes.items() %}
      - {{ key }}:{{ value }}
{% endfor %}
{% endif %}
    deploy:
      replicas: {{ value.replicas }}
{% if value.reservations is defined %}
      resources:
        reservations:
          cpus: "{{ value.reservations.cpu }}"
          memory: {{ value.reservations.memory }}
{% endif %}
{% endfor %}

volumes:
{% for key, value in services.items() %}
{% if value.volumes is defined %}
{% for key, value in value.volumes.items() %}
  {{ key }}:
{% endfor %}
{% endif %}
{% endfor %}
