services:
{% for key, value in services.items() %}
  {{ key }}:
    image: {{ service.container_image }}
    ports:
{% for port in value.ports %}
      - "{{ service.port.expose_port }}:{{ service.port.app_listen_port }}"
{% endfor %}
    volumes:
{% for key, value in value.volumes.items() %}
      - {{ key }}:{{ value }}
{% endfor %}
    deploy:
      replicas: {{ value.replicas }}
      resources:
        reservations:
          cpus: "{{ value.reservations.cpu }}"
          memory: {{ value.reservations.memory }}
{% endfor %}

volumes:
{% for key, value in services.items() %}
{% for key, value in value.volumes.items() %}
  {{ key }}:
{% endfor %}
{% endfor %}
